use_nvm() {
  watch_file .nvmrc
  local NVM_PATH="$HOME/.nvm/nvm.sh"
  if ! [ -f "$NVM_PATH" ]; then
    echo "Installing NVM" >&2
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
  fi
  . "${NVM_PATH}"
  nvm install
  layout node
  corepack enable
}

use nvm
