.heading-primary {
    font-family: $font-main;
    color: $color-white;
    font-weight: 800;
    font-size: 2.333rem;
    line-height: 3.167rem;
    @include atMedium {
        font-size: 2.25rem;
        line-height: 3.0625rem;
    }
}

.heading-secondary {
    font-family: $font-main;
    color: $color-black;
    font-weight: 800;
    font-size: 2.167rem;
    line-height: 3rem;
    @include atMedium {
        font-size: 2.25rem;
        line-height: 3.0625rem;
    }
}

.heading-tertiary {
    font-family: $font-main;
    color: $color-black;
    font-size: 1.583rem;
    line-height: 2.167rem;
    font-weight: 800;
    @include atMedium {
        font-size: 1.5rem;
        line-height: 2.0625rem;
    }
}

.paragraph {
    font-family: $font-main;
    color: $color-black;
    font-size: 1.083rem;
    line-height: 1.333rem;
    font-weight: 400;
    @include atMedium {
        font-size: 1rem;
        line-height: 1.5625rem;
    }

    &--small {
        font-size: 1rem;
        line-height: 1.333rem;
        @include atMedium {
            line-height: 1.375rem;
        }
    }

    &--big {
        font-size: 1.333rem;
        line-height: 1.833rem;
        @include atMedium {
            font-size: 1.375rem;
            line-height: 1.875rem;
        }
    }
}