<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locketry | A Locket For Your Loved Ones</title>
    <link rel="shortcut icon" href="/static/favicon.png" sizes="16x16" type="image/x-icon">
    <link rel="icon" href="/static/favicon.png" sizes="16x16" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__content">
                        <div class="header__logo">
                            <a href="#" class="header__logo-wrapper"><img src="static/images/logo.png" alt="Logo" class="header__logo-img"></a>
                        </div>
                        <nav class="header__nav">
                            <ul class="header__menu">
                                <li class="header__menu-item">
                                    <span class="header__menu-item-label" data-scroll-to="cases">Use Cases</span>
                                </li>
                                <li class="header__menu-item">
                                    <span class="header__menu-item-label" data-scroll-to="how">Technology</span>
                                </li>
                                <li class="header__menu-item header__menu-item--dropdown">
                                    <span class="header__menu-item-label" data-scroll-to="how">Other Projects <img src="static/images/i-caret.svg" alt="Dropdown" class="header__menu-item-caret"></span>
                                    <ul class="header__dropdown">
                                        <li class="header__dropdown-item"><a href="https://www.whalefolio.com/" target="_blank" class="header__dropdown-link"><span class="header__dropdown-label">Whalefolio</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                            <h2 class="header__title">Coming Soon</h2>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <div class="row align-items-start">
                    <div class="col-12 col-md-6">
                        <div class="hero__copy">
                            <h1 class="u-margin-bottom-small u-margin-md-bottom-smallest">A Locket For Your<br>Loved Ones</h1>
                            <p class="paragraph--big u-color-white">Don't trust the internet. Share your time locked encrypted Private Keys and other sensitive digital assets offline. Unlocked only by an Ethereum Smart Contract.</p>
                            <div class="hero__cta">
                                <form action="#" class="hero__cta-form">
                                    <input type="email" class="hero__cta-form-input" placeholder="Enter your email" required>
                                    <button type="submit" class="btn hero__cta-form-btn">Subscribe</button>
                                </form>
                                <p class="paragraph--small u-color-white">Register to get notified when we go live</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <img src="static/images/computer.svg" alt="Computer" class="hero__img">
                    </div>
                </div>
            </div>
        </section>
        <section class="cases" data-scroll-target="cases">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cases__intro u-align-inline-center">
                            <h2 class="u-margin-bottom-small">Use Cases For Locketry</h2>
                            <p class="paragraph--big">Share but also protect your most private files. If something happens to <br class="d-none d-md-block">you, will your loved ones will be able to access your digital assets?</p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-stretch cases__list">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="cases__item-wrapper">
                            <div class="cases__item">
                                <div class="cases__item-icon" style="background-color: #EF4481;"><img src="static/images/i-keys.svg" alt="Icon" class="cases__item-icon-img"></div>
                                <h3 class="u-margin-bottom-smallest">Private Keys</h3>
                                <p>Back up your Cryptocurrency private keys. Allow your family access if something should happen to you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="cases__item-wrapper">
                            <div class="cases__item">
                                <div class="cases__item-icon" style="background-color: #F3EC1B;"><img src="static/images/i-wills.svg" alt="Icon" class="cases__item-icon-img"></div>
                                <h3 class="u-margin-bottom-smallest">Wills</h3>
                                <p>Keep a copy of your Will with loved ones. Unlocked at the time of your passing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="cases__item-wrapper">
                            <div class="cases__item">
                                <div class="cases__item-icon" style="background-color: #2E68B2;"><img src="static/images/i-digital-assets.svg" alt="Icon" class="cases__item-icon-img"></div>
                                <h3 class="u-margin-bottom-smallest">Digital Assets</h3>
                                <p>Encrypt any large file videos or pictures.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 offset-lg-4">
                        <div class="cases__item-wrapper">
                            <div class="cases__item">
                                <div class="cases__item-icon" style="background-color: #5590CC;"><img src="static/images/i-switch.svg" alt="Icon" class="cases__item-icon-img"></div>
                                <h3 class="u-margin-bottom-smallest">Dead Man’s Switch</h3>
                                <p>Trigger the passing of sensitive information to trusted parties if something was to happen to you.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="how" data-scroll-target="how">
            <div class="container">
                <div class="row how__intro">
                    <div class="col-12">
                        <h2 class="u-color-white u-margin-bottom-small">How Does It Work?</h2>
                        <p class="paragraph--big u-color-white">3 easy steps to create your first Locket</p>
                    </div>
                </div>
                <div class="row how__steps">
                    <div class="col-12 col-md-4 how__step-wrapper">
                        <div class="how__step">
                            <img src="static/images/i-create.svg" alt="Icon" class="how__step-icon">
                            <h3 class="how__step-title">Create A Locket</h3>
                            <p class="u-color-white how__step-text">Power up a Locketry Smart Contract by setting up an initial timer value. Keep reseting the timer when prompted. Only when it goes to zero will the assets be accessible.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 how__step-wrapper">
                        <div class="how__step">
                            <img src="static/images/i-encrypt.svg" alt="Icon" class="how__step-icon">
                            <h3 class="how__step-title">Encrypt Files</h3>
                            <p class="u-color-white how__step-text">Place whatever digital assets you want on the device. Set a password and encrypt the files.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 how__step-wrapper">
                        <div class="how__step">
                            <img src="static/images/i-give.svg" alt="Icon" class="how__step-icon">
                            <h3 class="how__step-title">Give Locket To Loved One</h3>
                            <p class="u-color-white how__step-text">Your digital assets are now offline. Pass the encrypted device to a loved one. Rest assured that only when the Locketry timer is zero will the contents be able to be unlocked.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="cta">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>From the team that made crypto portfolio tracker</h2>
                        <a href="https://www.whalefolio.com/" target="_blank" class="cta__logo"><img src="static/images/logo-whalefolio.png" alt="WhaleFolio logo" class="cta__logo-img"></a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row justify-content-md-between">
                <div class="col-12 col-md-auto u-margin-bottom-small u-margin-md-bottom-null">
                    <a href="#" class="footer__logo"><img src="static/images/logo.png" alt="Logo" class="footer__logo-img"></a>
                    <p class="paragraph--small u-color-white u-font-alt footer__copy"><a href="mailto:Contact@whalefolio.com">Contact@whalefolio.com</a><br>© 2018 Whalefolio</p>
                </div>
                <div class="col-12 col-md-auto">
                    <h3 class="u-color-white u-font-alt u-weight-reg u-margin-bottom-small u-margin-bottom-md-small-2">Follow Us</h3>
                    <div class="footer__social">
                        <a href="https://medium.com/whalefolio" target="_blank" class="footer__social-item"><img src="static/images/i-medium.svg" alt="Medium" class="footer__social-item-icon"></a>
                        <a href="https://www.facebook.com/Whalefolio" target="_blank" class="footer__social-item"><img src="static/images/i-facebook.svg" alt="Facebook" class="footer__social-item-icon"></a>
                        <a href="https://twitter.com/whalefolio" target="_blank" class="footer__social-item"><img src="static/images/i-twitter.svg" alt="Twitter" class="footer__social-item-icon"></a>
                        <a href="https://www.reddit.com/r/whalefolio" target="_blank" class="footer__social-item"><img src="static/images/i-reddit.svg" alt="Reddit" class="footer__social-item-icon"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
    <script src="static/js/app-dist.js"></script>

</body>

</html>